{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Member page
{% endblock %}

{# ----------------------------------------#}
{% block membersNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <a href="/logout">Logout</a>

   <p>
    Admin Page {{ username }}
    </p>


    <h2>Members List</h2>



    <table>
        <tr>
            <th>Student ID</th>
            <th>Current Belt Grade</th>
            <th>Current Status</th>
            <th>Next Grade</th>
            <th>Next Belt Grade Syllabus</th>
            <th>Required Status</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Create</th>
            <th>Remove</th>
        </tr>

        {% for member in members %}

            <tr>
                <td>{{member.id  }}</td>
                <td>{{member.currentBeltGrade  }}</td>
                <td>{{member.currentStatus  }}</td>
                <td>{{member.nextGrade  }}</td>
                <td>{{member.nextBeltGradeSyllabus }}</td>
                <td>{{member.requireStatus  }}</td>
                <td><a href="/detail/{{ member.id }}">{{  member.name }}</a></td>
                <td><a href="/editMemberTableDisplay">Edit</a></td>
                <td><a href="/createMember">Create</a></td>
                <td><a href="/deleteMemberTableDisplay">Remove</a></td>
            </tr>



        {% endfor %}
    </table>
{% endblock %}
