{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Member page
{% endblock %}

{# ----------------------------------------#}
{% block membersNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <h2>Members pst</h2>

    <ul>
        <p>Id</p>
        <li>{{ student.studentId }}</li>

        <p>Current Belt</p>
        <li>{{ student.currentBeltGrade }}</li>

        <p>Current Status</p>
        <li>{{ student.currentStatus }}</li>

        <p>Next Grade</p>
        <li>{{ student.nextGrade }}</li>

        <p>Next Belt Grade Syllabus</p>
        <li>{{ student.nextBeltGradesyllabus }}</li>

        <p>Required Status</p>
        <li>{{ student.requirStatus }}</li>

        <p>Name</p>
        <li>{{ student.name }}</li>

        </p>

    </ul>

{% endblock %}
