{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    page - Admin
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}



    <form method="post" action="/editMemberDetails">

        <p>
            Student Id:
            <br>
            <input type="text" name="id" value="{{ memberRow.id }}">
        </p>

        <p>
            Current Belt Grade:
            <br>
            <input type="text" name="currentBeltGrade" value="{{ memberRow.currentBeltGrade }}">
        </p>

        <p>
            Current Status:
            <br>
            <input type="text" name="currentStatus" value="{{ memberRow.currentStatus }}">
        </p>

        <p>
            Next Grade:
            <br>
            <input type="text" name="nextGrade" value="{{ memberRow.nextGrade }}">
        </p>

        <p>
            Next Belt Grade Syllabus:
            <br>
            <input type="text" name="nextBeltGradeSyllabus" value="{{ memberRow.nextBeltGradeSyllabus }}">
        </p>

        <p>
            Required Status:
            <br>
            <input type="text" name="requireStatus" value="{{ memberRow.requireStatus  }}">
        </p>

        <p>
            Name:
            <br>
            <input type="text" name="name" value="{{ memberRow.name }}">
        </p>


        <p>


            <input type="submit"  value="Edit">
        </p>







    </form>







{% endblock %}